.header
  display: flex
  justify-content: space-between
  align-items: center
  &__left
    display: flex
    justify-content: flex-start
    align-items: center
    gap: 13px
  &__right
    text-align: right
  &__letter
    display: block
    width: 40px
    height: 40px
    background-color: $color-yellow
    font-size: 35px
    line-height: 40px
    font-weight: 700
    font-family: $ff-mono
    text-align: center
    user-select: none
  &__name
    font-family: $ff-mono
    font-size: 13px
    line-height: 17px
    margin-bottom: 0
  &__position
    font-family: $ff-mono
    font-size: 11px
    line-height: 15px
    margin-bottom: 0
  &__span
    display: block
    font-family: $ff-mono
    font-size: 8px
    line-height: 11px
    font-weight: 500
    color: $color-grey
    text-decoration: none