.sheet
  width: 595px
  padding: 45px 58px
  background-color: $color-white
  &__content
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
  &__header
    margin-bottom: 20px
    width: 100%
  &__column
    &_big
      width: 100%
    &_medium
      width: 242px
    &_small
      width: 181px
  &__text-component
    margin-bottom: 24px
  &__project
    margin-bottom: 20px